nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul{
    list-style: none;
    /* margin: 20px; */
    padding: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

h1{
    text-align: center;
}